* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: grid;
  @media (max-width: 768px) {
    grid-template-columns: minmax(320px, 1fr);
  }
  grid-template-columns: minmax(320px, 2fr) minmax(320px, 1fr);
  background: #F5F5F7;
  grid-template-areas: "quiz" "reachedScore";
}

.quiz {
  grid-area: quiz;
  &.mobile-active {
    display: none;
  }
}

.QuestionText {
  @media (max-width: 470px) {
    font-family: Inter, sans-serif;
    font-size: 21px;
    display: flex;
    text-align: center;
  }
  height: 72px;
  font-family: Inter, sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 116%;
  color: #1C1C21;
  padding: 15vh 10vh 18vh 12vh;
}

.ButtonsSection {
  display: grid;
  @media (max-width: 470px) {
    grid-auto-flow: row;
  }
  grid-auto-flow: column;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding: 125px 45px 45px 45px;
}

.AnswerButton {
  display: grid;
  grid-template-columns: minmax(min-content, 350px);
  grid-template-rows: minmax(min-content, 72px);
  background: #FFFFFF;
  align-items: center;
  border: none;
  &.disabled {
    background: #1C1C21;
  }
  &.correct {
    background: #47D867;
  }
  &.incorrect {
    background: #EC6259;
  }
  &:hover {
    background: #FFAC70;
  }
}

.reachedScore {
  display: flex;
  @media (max-width: 768px) {
    display: none
  }
  flex-direction: column-reverse;
  text-align: center;
  justify-self: stretch;
  background: #FFFFFF;
  grid-area: reachedScore;
  grid-column: 2;
  grid-row: 1;
  &.mobile-active {
    display: flex;
    grid-column: 1;
  }
}

.scoreValue {
  padding: 20px;
  &.active {
    background: #FF8B37;
  }
  &.passed {
    background: darkgrey;
  }
}

.menu-icon-wrapper {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    position: absolute;
    top: 35px;
    right: 15px;
  }
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #1C1C21;
  transition: background-color 0.2s ease-in 0.2s;
  &:before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #1C1C21;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &:after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #1C1C21;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &.menu-icon-active {
    background-color: transparent;
    transition: background-color 0.2s ease-in 0.2s;
  }
  &.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}