* {
  margin: 0;
  padding: 0;
}



.mainContainer {
  display: grid;
  @media (max-width: 768px) {
    grid-template-columns: minmax(320px, 1fr);
  }
  grid-template-columns: minmax(320px, 2fr) minmax(min-content, 1fr);
  justify-items: center;
  background: #F5F5F7;
  grid-template-areas: "quiz" "reachedScore";
}

.quiz {
  grid-area: quiz;

  grid-template-columns: subgrid;
align-self: stretch;
}

.QuestionText {
  @media (max-width: 470px) {
    /* Mobile / Question? */
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;
  /* Black-100 */
  color: #1C1C21;
  padding: 15vh 10vh 15vh 12vh;
}

.ButtonsSection {
  display: grid;
  @media (max-width: 470px) {
    grid-auto-flow: row;
  }
  grid-auto-flow: column;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding: 0 45px 45px 45px;
}

.AnswerButton {
  display: grid;
  grid-template-columns: minmax(min-content, 350px);
  grid-template-rows: minmax(min-content, 72px);
  background: aquamarine;
  align-items: center;
  border: none;
}

.AnswerButton.disabled {
  background: #1C1C21;
}

.AnswerButton.correct {
  background: limegreen;
}

.AnswerButton.incorrect {
  background: indianred;
}

.AnswerButton:hover {
  background: #FF8B37;
}

.reachedScore {
  display: flex;
  @media  (max-width: 768px) {
    display: none
  }
  flex-direction: column-reverse;
  text-align: center;
  justify-self: stretch;
  background: #FFFFFF;
  grid-area: reachedScore;
  grid-column: 2;
  grid-row: 1;

}

.scoreValue {
  padding: 20px;
}

.scoreValue.active {
  background: #FF8B37;
}

.scoreValue.passed {
  background: darkgrey;
}